.cardSectionContainer {
  margin: 5rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fa; 
  padding: 2rem 0; 
}

.cardsContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}



.card:hover {
  transform: scale(1.05); 
}

@media only screen and (max-width: 1200px) {
  .cardsContainer {
    width: 95%; 
  }

  .card {
    width: 45%; 
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90%; 
  }
}