nav {
  z-index: 5;
  height: max-content;
  position: sticky;
  top: 0;
  background-color: var(--color);
  padding: 0.5rem 1rem;
}

nav div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.nav2{
  margin-right: 100px;
}
.nav-links {
  color: aliceblue;
  font-size: 1.2em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0px 1rem;
}

.nav-links li {
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.nav-links li:hover {
  color: rgb(66, 170, 207);
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  width: 15%;
  transition: width 0.3s;
}

.burger-menu {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .logo {
    width: 70%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--color);
    width: 905;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .nav2{
    margin-right: 0;
  }
  .nav-links {
    margin: 0;
}
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    margin-right: 40px;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .nav-links.open li {
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .nav-links.open li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  .icon {
    height: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
  }
  .nav2{
    margin-right: 0;
  }
  .nav-links {
    margin: 0;
}
  nav div {
    padding: 0.5rem;
  }

  .burger-menu {
    margin-left: auto;
  }

  .nav-links {
    padding: 0.5rem;
    gap: 1rem;
  }
}
